body {
  margin: 0;
  padding: 0;
}

.navbar {
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.prod-image {
  max-height: 200px;
  max-width: 200px;
}
