body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bold {
  font-weight: bold;
}

.navbar {
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.product,
.prod-cont {
  display: flex;
  max-width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.prod-image {
  max-width: 100px;
  max-height: 150px;
}

.cart-img {
  max-width: 50px;
  max-height: 75px;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 8px;
}

.navbar a:hover {
  color: white;
  background-color: black;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.hero {
  max-width: 400px;
  border-radius: 4px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

input {
  max-width: 42px;
}

.loading,
.error {
  padding: 16px;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  max-width: 200px;
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}
