body {
  margin: 0;
  padding: 0;
}

.navbar {
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.product,
.prod-cont {
  display: flex;
  max-width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.prod-image {
  max-width: 100px;
  max-height: 150px;
}

.cart-img {
  max-width: 50px;
  max-height: 75px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  max-width: 400px;
  border-radius: 4px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}
